<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>{% block title %}PMS{% endblock title %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
	<link rel="icon" href="{{ url_for('static', filename='favicon-96x96.png') }}" type="image/x-icon">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon-96x96.png') }}" type="image/x-icon">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css">
	<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js" defer></script>
	<script src="{{ url_for('static', filename='jquery-3.5.0.min.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js.js') }}" type="text/javascript"></script>
	{% block css %}{% endblock css %}
	{% block js %}{% endblock js %}
</head>

<body>
	<div class="sidebar">
		<div><a href="https://unrealsoft.bg" class="active">UnrealSoft LTD</a></div>
		<div><a href="/housekeeping"><img src="{{url_for('static', filename='photo/dashboard.png')}}" alt="" class="menu_pic"> &nbsp;Дневен репорт</a></div>
		<div><a href="/nutrition"><img src="{{url_for('static', filename='photo/food.png')}}" alt="" class="menu_pic"> &nbsp;Пансиони</a></div>
		<div><a href="/cart_dirty"><img src="{{url_for('static', filename='photo/housekeeping.png')}}" alt="" class="menu_pic"> &nbsp;Стаи за почистване</a></div>
		<div><a href="/info"><img src="{{url_for('static', filename='photo/people.png')}}" alt="" class="menu_pic"> &nbsp;Списък Гости</a></div>
		<div><a href="/insertdata/reservations"><img src="{{url_for('static', filename='photo/reservation.png')}}" alt="" class="menu_pic"> &nbsp;Списък Резерации</a></div>
		<div><a href="/reservations_card"><img src="{{url_for('static', filename='photo/card.png')}}" alt="" class="menu_pic"> &nbsp;Карта Резерации</a></div>
		<div><a href="/insertdata/usls"><img src="{{url_for('static', filename='photo/usl.png')}}" alt="" class="menu_pic"> &nbsp;Услуги</a></div>
		<div><a href="/insertdata/room_landing"><img src="{{url_for('static', filename='photo/occupaied.png')}}" alt="" class="menu_pic"> &nbsp;Заети Стаи</a></div>
		<div><a href="/insertdata/price_change"><img src="{{url_for('static', filename='photo/change.png')}}" alt="" class="menu_pic"> &nbsp;Редакция на цени</a></div>
		<div><a href="/payment"><img src="{{url_for('static', filename='photo/payment.png')}}" alt="" class="menu_pic"> &nbsp; Сметка за плащане</a></div>
		<div><a href="/depozit"><img src="{{url_for('static', filename='photo/dep.png')}}" alt="" class="menu_pic"> &nbsp; Депозити</a></div>
		<div><a href="/insertdata/fak"><img src="{{url_for('static', filename='photo/invoice.png')}}" alt="" class="menu_pic"> &nbsp; Фактури</a></div>
		<div><a href="/otc"><img src="{{url_for('static', filename='photo/report.png')}}" alt="" class="menu_pic"> &nbsp;Отчети</a></div>
		<div><a href="/logout"><img src="{{url_for('static', filename='photo/logout.png')}}" alt="" class="menu_pic"> &nbsp; Изход</a></div>
	</div>

	<div class="content">
		<main id="center" class="column">
			<form method='POST' action='/{{ action }}' id="generalform">
				<label for="fdata">Първа дата:
					<input type="date" id="fdata" name="fdata">
				</label>
				<label for="ldata">Втора дата:
					<input type="date" id="ldata" name="ldata">
				</label>
				<input type="submit" value="Зареди">
			</form>

			<article id="result">
				{% block body %}{% endblock %}
			</article>

	</div>
</body>

</html>