{% extends 'base.html' %}

{% block body %}
	<script>
		document.getElementById("generalform").style.display="none";
	</script>
	
	<h3>Фактури за период: {{ strptime(f_data, "%Y-%m-%d").strftime("%d.%m.%Y") }} до {{ strptime(l_data, "%Y-%m-%d").strftime("%d.%m.%Y") }}</h3>

	<input type="text" id="myInput2" onkeyup="myFunction2();" placeholder="Търсене по номер или фирма">

	<table class="activenast" id="prihodi_po_grupi2">
			<tr class="tableinfo">
				<th>No</th>
				<th>Фирма</th>
				<th>Тип</th>
				<th>Сума</th>
				<th>ДДС</th>
				<th>Тотал</th>
				<th>Платена</th>
				<th>ДДС</th>
			</tr>
			{% for d in fdb_fakturi %}
				<tr>
					<td class="fakinfo" data-id="/fak/{{ d[1] }}">{{ d[1] }}</td>
					<td class="tabletd">{{ d[2] }}</td>
					<td class="tabletd">{{ d[3] }}</td>
					<td class="tabletd">{{ d[4] }}</td>
					<td class="tabletd">{{ d[5] }}</td>
					<td class="tabletd">{{ d[6] }}</td>
					<td class="tabletd">{{ d[7] }}</td>
					<td class="tabletd">{{ d[8] }}</td>
				</tr>
			{% endfor %}
		</table>
		<br />
		<hr>
		<table class="activenast" id="fak_detail">
			<tr class="tableinfo">
				<th class="tabletd">N:</th>
				<th class="tabletd">Техт</th>
				<th class="tabletd">Количество</th>
				<th class="tabletd">Цена</th>
				<th class="tabletd">Сума ДДС</th>
				<th class="tabletd">Тотал</th>
				<th class="tabletd">ДДС</th>
			</tr>
		</table>

	<script type="text/javascript">
		$(function () {
   			$('.fakinfo').on('click', function () {
	      	const id = $(this).data('id')
	      	const table = document.getElementById("fak_detail");
	      	var tr = $(this).closest('tr');
	      	url = 'https://' + window.location.hostname + ':5000' + id
			//url = 'http://' + vg.unrealsoft.bg + ':5000' + id
	      	$.ajax({
		        url: url,
		        type: 'GET',
		        dataType: "json",
	        	success: function (response) {
	        		// Премахва натиснатият ред,не ми харесва за сега!
	        		// tr.fadeOut(1000, function(){
           //              $(this).remove();
           //          });
           			$("#fak_detail").find("tr:gt(0)").remove();
	          		for (let k in response) {
	          			let valaing = response[k]

	          			let row = table.insertRow(-1);

			          	let cell1 = row.insertCell(0);
			          	cell1.className = "tabletd";
			          	let cell2 = row.insertCell(1);
			          	cell1.className = "tabletd";
			          	let cell3 = row.insertCell(2);
			          	cell1.className = "tabletd";
			          	let cell4 = row.insertCell(3);
			          	cell1.className = "tabletd";
			          	let cell5 = row.insertCell(4);
			          	cell1.className = "tabletd";
			          	let cell6 = row.insertCell(5);
			          	cell1.className = "tabletd";
			          	let cell7 = row.insertCell(6);
			          	cell1.className = "tabletd";

			          	cell1.innerHTML = valaing['id'];
			          	cell2.innerHTML = valaing['name']
			          	cell3.innerHTML = valaing['kol'];
			          	cell4.innerHTML = parseFloat(valaing['price']).toFixed(2);
			          	cell5.innerHTML = parseFloat(valaing['suma_dds']).toFixed(2);
			          	cell6.innerHTML = parseFloat(valaing['suma_total']).toFixed(2);
			          	cell7.innerHTML = valaing['dds'];
		          }
	        },
	        error: function (error) {
	          alert(url)
	        }
	      })
	      $('#fak_detail').css('display', 'block')
    		});
  		});
	</script>
{% endblock %}