{% extends 'base.html' %}

{% block body %}
<script>
    document.getElementById("generalform").style.display="none";
</script>

<h2 class="text_center">Домакинство</h2>
<div class="housekeeping">
    <div class="info_content">
        Дата
        <div class="info_all_center">
            <p>{{ today.strftime("%d.%m.%Y") }}</p>
        </div>
    </div>
    <div class="info_content">
        Заети помещения
        <div class="info_all_center">
            <p>{{ room }}</p>
        </div>
    </div>
    <div class="info_content">
        Очаквано настаняване
        <div class="info_all_center">
            <p>10</p>
        </div>
    </div>
    <div class="info_content">
        Очаквано заминаване
        <div class="info_all_center">
            <p>10</p>
        </div>
    </div>
    <div class="info_content">
        Статус на стаите заетост
        <div class="info_all_center">
            <p>10</p>
        </div>
    </div>
    <div class="info_content">
        Статус на стаите почистени
        <div class="info_all_center">
            <p>10</p>
        </div>
    </div>
</div>

{% endblock body %}