{% extends 'base.html' %}

{% block body %}
<script>
    document.getElementById("generalform").style.display="none";
</script>

<h2>Домакинство</h2>
<div class="housekeeping">
    <div class="info_content">
            <span>{{ today.strftime("%B") }}</span>
            <p><strong style="font-size: 46px;">{{ today.strftime("%m") }}</strong></p>
            <p>{{ today.strftime("%Y") }}</p>
    </div>
    <div class="info_content">
        Заети помещения / хора
        <div class="info_all_center">
            <p>{{ room }} / {{ people }}</p>
        </div>
    </div>
    <div class="info_content">
        Пристигащи помещения / хора
        <div class="info_all_center">
            <p>{{ expected_room }} / {{ expected_people }}</p>
        </div>
    </div>
    <div class="info_content">
        Заминаващи помещения / хора
        <div class="info_all_center">
            <p>{{ out_room }} / {{ out_people }}</p>
        </div>
    </div>
    <div class="info_content">
        Стаи в ремонт
        <div class="info_all_center">
            <p>{{ out_order }}</p>
        </div>
    </div>
    <div class="info_content">
        Непочистени стаи
        <div class="info_all_center">
            <p>{{ dirty }}</p>
        </div>
    </div>
</div>

{% endblock body %}