{% extends 'base.html' %}

{% block body %}
	<script>
		document.getElementById("generalform").style.display="none";
	</script>
	<h3>Списък с резерациите за период: {{ strptime(f_data, "%Y-%m-%d").strftime("%d.%m.%Y") }} до {{ strptime(l_data, "%Y-%m-%d").strftime("%d.%m.%Y") }}</h3>
	<br />
	<table class="activenast">
		<tr class="tableinfo">
			<th>No</th>
			<th>Статус</th>
			<th>Check In</th>
			<th>Check Out</th>
			<th>Days</th>
			<th>Rooms</th>
			<th>Contract</th>
			<th>FromWho</th>
			<th>Tel</th>
			<th>Vaucher</th>
			<th>Food</th>
			<th>Bill</th>
		</tr>
		{% for d in fdb_reservations %}
			<tr class="show_more">
				<td class="tabletd">{{ d[0] }}</td>
				<td class="tabletd res_status">{{ d[11] }}</td>
				<td class="tabletd">{{ d[1] }}</td>
				<td class="tabletd">{{ d[2] }}</td>
				<td class="tabletd">{{ d[3] }}</td>
				<td class="tabletd">{{ d[4] }}</td>
				<td class="tabletd">{{ d[5] }}</td>
				<td class="tabletd">{{ d[6] }}</td>
				<td class="tabletd">{{ d[7] }}</td>
				<td class="tabletd">{{ d[8] }}</td>
				<td class="tabletd">{{ d[9] }}</td>
				<td class="tabletd count_me">{{ "%.2f"|format(d[10]) }}</td>
			</tr>
		{% endfor %}
		<tr class="tableinfo">
			<th>No</th>
			<th>Статус</th>
			<th>Check In</th>
			<th>Check Out</th>
			<th>Days</th>
			<th>Rooms</th>
			<th>Contract</th>
			<th>FromWho</th>
			<th>Tel</th>
			<th>Vaucher</th>
			<th>Food</th>
			<th id="total"></th>
		</tr>
	</table>
	<br><hr><br>
	<table class="activenast">
		{% for day, value in Result.items() %}
			<tr class="tableinfo">
			<td>{{ day }}</td><td>Заети</td><td>Общо</td><td>За заемане</td>
			</tr>
			{% for v in value %}
				<tr><td>{{ v[0] }}</td><td>{{ v[1] }}</td><td>{{ v[2] }}</td><td>{{ v[2] - v[1] }}</td></tr>
			{% endfor %}
		{% endfor %}
	</table>

	<script>
		let status_room = document.getElementsByClassName("res_status");
		for (let i of status_room) {
			if (i.innerHTML.trim() == 'Потвърдена') {
				i.parentNode.classList.add('reservation_ok')
			} else if (i.innerHTML.trim() == 'Непотвърдена'){
				i.parentNode.classList.add('dirty_room')
			} 
		}

		$(function() {

			let TotalValue = 0.00;

			$("tr .count_me").each(function(index,value){
			currentRow = parseFloat($(this).text());
			TotalValue += currentRow
			});

			document.getElementById('total').innerHTML = TotalValue.toFixed(2)

		});
	</script>
{% endblock %}