{% extends 'base.html' %}

{% block body %}
	<script>
		document.getElementById("generalform").style.display="none";
	</script>
	<h3>Списък с платените услуги: {{ strptime(f_data, "%Y-%m-%d").strftime("%d.%m.%Y") }} до {{ strptime(l_data, "%Y-%m-%d").strftime("%d.%m.%Y") }}</h3>
	<br />
	<table class="activenast">
		<tr class="tableinfo">
			<th>Име</th>
			<th>Сума Бруто</th>
			<th>Сума Нето</th>
		{% for d in fdb_reservations_paid %}
			<tr>
				<td class="tabletd">{{ d[0] }}</td>
				<td class="tabletd pay_bruto">{{ "%.2f"|format(d[1]|float) }}</td>
				<td class="tabletd pay_neto">{{ "%.2f"|format(d[2]|float) }}</td>
			</tr>
		{% endfor %}
			<tr class="tableinfo">
				<th>Име</th>
				<th id="pay_bruto">Сума Бруто</th>
				<th id="pay_neto">Сума Нето</th>
			</tr>
	</table>
	<h3>Списък с начислените услуги: {{ strptime(f_data, "%Y-%m-%d").strftime("%d.%m.%Y") }} до {{ strptime(l_data, "%Y-%m-%d").strftime("%d.%m.%Y") }}</h3>
	<br />
	<table class="activenast">
		<tr class="tableinfo">
			<th>Име</th>
			<th>Сума Бруто</th>
			<th>Сума Нето</th>
		{% for d in fdb_reservations_accured %}
			<tr>
				<td class="tabletd">{{ d[0] }}</td>
				<td class="tabletd nal_bruto">{{ "%.2f"|format(d[1]|float) }}</td>
				<td class="tabletd nal_neto">{{ "%.2f"|format(d[2]|float) }}</td>
			</tr>
		{% endfor %}
		<tr class="tableinfo">
			<th>Име</th>
			<th id="nal_bruto">Сума Бруто</th>
			<th id="nal_neto">Сума Нето</th>
		</tr>
	</table>

	<script>


		$(function() {

			let TotalValue = 0.00;
			let TotalNeto = 0.00;
			let TotalNalBruto = 0.00;
			let TotalNalNeto = 0.00;

			$("tr .pay_bruto").each(function(index,value){
			currentRow = parseFloat($(this).text());
			TotalValue += currentRow
			});

			$("tr .pay_neto").each(function(index,value){
			currentRow2 = parseFloat($(this).text());
			TotalNeto += currentRow2
			});

			$("tr .nal_bruto").each(function(index,value){
			currentRow3 = parseFloat($(this).text());
			TotalNalBruto += currentRow3
			});

			$("tr .nal_neto").each(function(index,value){
			currentRow4 = parseFloat($(this).text());
			TotalNalNeto += currentRow4
			});


			document.getElementById('pay_bruto').innerHTML = TotalValue.toFixed(2)
			document.getElementById('pay_neto').innerHTML = TotalNeto.toFixed(2)
			document.getElementById('nal_bruto').innerHTML = TotalNalBruto.toFixed(2)
			document.getElementById('nal_neto').innerHTML = TotalNalNeto.toFixed(2)

		});
	</script>
{% endblock %}